<section class="vh-100" style="background-color:rgb(166, 192, 241)">
  <div class="container-fluid col-md-8">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card" style="border-radius: 1rem;margin-top: 25px;">
          <div class="row g-0">
             
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-3 text-black" >

                

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Login</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-floating mb-3">
                    <input type="email" [(ngModel)]="userName" id="iemailaddress" class="form-control form-control-lg" />
                    <p>{{userName}}</p>
                    <label class="form-label" for="lemailaddress">Email address</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="password"  [(ngModel)]="passWord" id="ipassword" class="form-control form-control-lg" />
                    <p>{{passWord}}</p>
                    <label class="form-label" for="lpassword">Password</label>
                  </div>
                  <label class="form-label" style="color:red ;">{{errorMessage}}</label>
                  <div class="pt-1 mb-3">
                    <a class="btn btn-dark btn-lg btn-block" (click)="login()">Login</a>
                  </div>
                  <a class="small text-muted" href="#">Forgot password?</a>
                  <p class="mb-4 pb-lg-2" style="color: #393f81;">Don't have an account?
                  <a routerLink="/app" style="color: #393f81;">Register here</a></p>
                
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

